nav {
  /* background-color: #2196f3;  */
  padding: 1rem; 
}

.navlink {
  color: #fff; 
  text-decoration: none; 
  margin-right: 1rem; 
  gap: 20px;
}

.navlink:hover {
  text-decoration: underline; 
}