/* .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.contact p {
  margin: 5px 0;
  display: flex;
  align-items: center;
  
}

.contact p svg {
  margin-right: 8px;
}

.contact button {
  align-self: flex-end;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.contact button:hover {
  background-color: #c0392b;
} */


.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #daeff0;
  transition: box-shadow 0.3s ease;
}

.contact:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.contact p {
  margin: 8px 0;
  font-size: 16px;
}

.contact p svg {
  margin-right: 12px;
  font-size: 20px;
}

.contact button {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #2980b9;
}