.contactForm {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  margin:0 570px 40px 570px;
  /* margin-bottom: 20px;
  margin-left:810px; */
}

.contactForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contactForm input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  
}
input:focus {
  border-color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.contactForm .btnSubmit {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.contactForm .btnSubmit:hover {
  background-color: #2980b9;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}