.homePage {
  padding: 20px;
  text-align: center;
  color: #f7f7f7;
  /* background-color: #c23535; */
}

.welcomeMessage {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 100px;
}

.subMessage {
  font-size: 30px;
  margin-bottom: 20px;
}

.link {
  color: #f7f7f7;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #06090d;
}